body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-cabin: Cabin;
  
    /* font sizes */
    --font-size-2xl: 21px;
    --font-size-mid: 17px;
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-xs: 12px;
    --font-size-15xl: 34px;
    --font-size-xl: 20px;
    --font-size-8xl: 27px;
    --font-size-9xl: 28px;
    --font-size-3xl: 22px;
  
    /* Colors */
    --color-white: #fff;
    --color-lightseagreen: #60c1b1;
    --color-aliceblue: #eef4f7;
    --color-darkslategray-100: #3c3c3c;
    --color-darkslategray-200: #313131;
    --color-gray-100: #7f7f7f;
    --color-gray-200: #222;
    --color-gainsboro-100: #e6e6e6;
    --color-gainsboro-200: #ddd;
    --color-darkgray: #999;
    --color-crimson: #e54f4f;
    --color-darkcyan: #2e8f7d;
    --color-black: #000;
  
    /* Gaps */
    --gap-0: 0px;
    --gap-5xl: 24px;
    --gap-xl: 20px;
    --gap-68xl: 87px;
    --gap-51xl: 70px;
    --gap-sm: 14px;
    --gap-7xs: 6px;
    --gap-11xs: 2px;
    --gap-15xl: 34px;
    --gap-24xl: 43px;
    --gap-21xl: 40px;
  
    /* Paddings */
    --padding-33xl: 52px;
    --padding-145xl: 164px;
    --padding-60xl: 79px;
    --padding-22xl: 41px;
    --padding-63xl: 82px;
    --padding-xl: 20px;
    --padding-11xl: 30px;
    --padding-12xs: 1px;
    --padding-3xs: 10px;
    --padding-26xl: 45px;
    --padding-2xl: 21px;
    --padding-8xs: 5px;
    --padding-10xs: 3px;
    --padding-5xs: 8px;
    --padding-5xl: 24px;
    --padding-6xl: 25px;
    --padding-9xs: 4px;
    --padding-sm: 14px;
    --padding-7xs: 6px;
    --padding-smi: 13px;
    --padding-41xl: 60px;
    --padding-lgi: 19px;
    --padding-11xs: 2px;
    --padding-2xs: 11px;
    --padding-224xl: 243px;
    --padding-10xl: 29px;
    --padding-6xs: 7px;
    --padding-8xl: 27px;
    --padding-9xl: 28px;
    --padding-3xl: 22px;
    --padding-65xl: 84px;
    --padding-21xl: 40px;
    --padding-13xl: 32px;
    --padding-29xl: 48px;
    --padding-base: 16px;
  
    /* Border radiuses */
    --br-9xs: 4px;
    --br-9980xl: 9999px;
    --br-5xs: 8px;
    --br-8xs: 5px;
  }