.logo-1629774023-0x0-webppng-icon {
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.secondary-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
}
.home {
  flex-shrink: 0;
}
.home,
.shop {
  position: relative;
  line-height: 22px;
}
.lchevron323f2f27svg-icon {
  width: 8px;
  height: 6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.chevron-left-s-v-g1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-12xs) 0 0;
}
.chevron-left-s-v-g {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 7px;
}
.more {
  position: relative;
  line-height: 22px;
}
.lchevron323f2f27svg-icon1 {
  width: 8px;
  height: 6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.chevron-left-s-v-g2,
.lchevron323f2f27svg-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.chevron-left-s-v-g2 {
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 0 7px;
}
.main-frame,
.shop-and-more-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.shop-and-more-frame {
  justify-content: flex-start;
  gap: 0 43px;
}
.main-frame {
  width: 262px;
  justify-content: space-between;
  padding: 0 var(--padding-3xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.search {
  position: relative;
}
.input {
  flex: 1;
  border-radius: var(--br-9980xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.divp-12-icon {
  height: 46px;
  width: 46px;
  position: relative;
  border-radius: 0 var(--br-9980xl) var(--br-9980xl) 0;
}
.divflex-1 {
  width: 405px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  color: var(--color-lightsteelblue);
}
.link-sign,
.link-track {
  position: relative;
  line-height: 22px;
  white-space: nowrap;
}
.link-icon {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.parent-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 0 29px;
  text-align: center;
}
.divfixed,
.divfixed-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.divfixed {
  flex: 1;
  background-color: var(--color-aliceblue);
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  gap: 0 89px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
  font-family: var(--font-cabin);
}
.divfixed-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  top: 0;
  z-index: 99;
  position: sticky;
  flex-shrink: 0;
}
.link-home {
  position: relative;
  line-height: 21px;
}
.svg-icon {
  height: 10px;
  width: 8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.track-order {
  position: relative;
  line-height: 21px;
  color: var(--color-darkslategray-200);
}
.home-track-order-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 0 10.35px;
}
.track-order1 {
  margin: 0;
  width: 147.2px;
  position: relative;
  font-size: inherit;
  line-height: 45px;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input1 {
  height: 18.4px;
  width: 1118.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
}
.order-id {
  position: relative;
  line-height: 22.5px;
}
.form,
.label {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.label {
  height: 22.5px;
  overflow: hidden;
  justify-content: center;
  padding: 0 var(--padding-mini);
  opacity: 0.75;
  z-index: 1;
}
.form {
  width: 1152px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gainsboro-100);
  justify-content: flex-start;
  padding: var(--padding-mini) 0 var(--padding-2xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mini);
}
.input2 {
  height: 18.4px;
  width: 1118.4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
}
.form1,
.label1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.label1 {
  width: 90.4px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 22.5px;
  overflow: hidden;
  justify-content: center;
  padding: 0 var(--padding-base) 0.5px;
  font-family: var(--font-cabin);
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray-200);
  opacity: 0.75;
  z-index: 1;
}
.form1 {
  width: 1152px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gainsboro-100);
  justify-content: flex-start;
  padding: var(--padding-mini) 0 var(--padding-2xs);
  max-width: 100%;
}
.track-order2 {
  position: relative;
  line-height: 21px;
  font-weight: 500;
}
.divbg-white,
.form-button,
.track-order-link {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.form-button {
  width: 1152px;
  border-radius: 2px;
  background-color: var(--color-lightseagreen);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 9px var(--padding-2xl) var(--padding-3xs) var(--padding-xl);
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.divbg-white,
.track-order-link {
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px 0;
}
.divbg-white {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  align-items: center;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-13xl);
  text-align: center;
  font-size: 30px;
  color: var(--color-darkslategray-200);
}
.track-order-link {
  width: 1256px;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-lightseagreen);
  font-family: var(--font-cabin);
}
.link-logo-1629774023-0x0-web {
  height: 44px;
  width: 44px;
  position: absolute;
  margin: 0 !important;
  top: 52px;
  left: 164px;
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.menu {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 25px;
  font-weight: 700;
  font-family: inherit;
}
.link-about,
.link-contact,
.link-faqs,
.link-privacy,
.link-terms {
  position: relative;
  line-height: 22px;
}
.link-to-shipping-delivery,
.link-to-track-order {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-to-shipping-delivery {
  gap: 20px 0;
  font-size: var(--font-size-sm);
  color: var(--color-aliceblue);
}
.link-to-track-order {
  gap: 24px 0;
}
.account {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 25px;
  font-weight: 700;
  font-family: inherit;
}
.link-cancellation,
.link-shipping,
.link-track1 {
  position: relative;
  line-height: 22px;
}
.account-parent,
.account-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.account-parent1 {
  gap: 20px 0;
  font-size: var(--font-size-sm);
  color: var(--color-aliceblue);
}
.account-parent {
  gap: 24px 0;
}
.account-service-links {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: -239px;
}
.account-track-order-cancellati {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 281px;
  min-height: 239px;
  max-width: 100%;
}
.company {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 25px;
  font-weight: 700;
  font-family: inherit;
}
.divbg-page,
.divpage-footer {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.divpage-footer {
  align-self: stretch;
  background-color: var(--color-lightseagreen);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-33xl) 378px var(--padding-103xl) 466px;
  box-sizing: border-box;
  position: relative;
  gap: 0 171px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-family: var(--font-cabin);
}
.divbg-page {
  flex: 1;
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
}
.store4imojo-gracemyinstamojo {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .shop-and-more-frame {
    display: none;
  }
  .main-frame {
    width: 116px;
  }
  .track-order1 {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .divpage-footer {
    gap: 0 171px;
    padding-left: 233px;
    padding-right: var(--padding-170xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .parent-frame {
    display: none;
  }
  .divfixed {
    gap: 0 89px;
  }
  .divbg-white,
  .track-order-link {
    gap: 32px 0;
  }
}
@media screen and (max-width: 450px) {
  .divfixed {
    gap: 0 89px;
  }
  .track-order1 {
    font-size: 18px;
    line-height: 27px;
  }
  .account,
  .company,
  .menu {
    font-size: var(--font-size-mid);
    line-height: 20px;
  }
  .divpage-footer {
    gap: 0 171px;
    padding: 34px var(--padding-xl) var(--padding-60xl);
    box-sizing: border-box;
  }
}
